table{
    width:80%;
    border: 3px groove burlywood;
    border-collapse: collapse;
    margin-left:150px;
}

table td, table th{
    text-align:center;
    font-family: "Chalkduster";
    border: 3px groove burlywood;
    padding:15px;
    color:black;
}

table td{
    text-align:left;
    border: 3px groove burlywood;
    font-family: "Chalkduster";
    color:black;
}

table tr:not(:first-child):hover{
    background-color: grey;
    font-family: "Chalkduster";
   
}

table th:hover{
    background:burlywood;
    color:white;
    cursor:pointer;
}

    table th:nth-child(1):hover{
        cursor: not-allowed;
}
